doctype html
html(lang='en')
    head
        meta(name="htmx-config" content='{"useTemplateFragments":"true"}')
        title Pokemon Arena
        link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css')
        script(src='https://unpkg.com/htmx.org@1.5.0')
        style.
            .display-items {display: flex; justify-content: center;}
            .custom-row {justify-items: center; align-items: center; text-align: center;}
            .custom-table {display: flex; justify-content: center; align-items: flex-start; height: 700px;}
            .custom-battle-Result-Row {height: 50px; margin-top: 20px; margin-bottom: 10px;}
            table {margin-top: 35px;}
            tbody {overflow-y: scroll; max-height: 700px;}
            .winner {display: flex; justify-content: center; align-items: center; height: 50px; background: springgreen;}
            .draw {display: flex; justify-content: center; align-items: center; height: 50px; background: palegoldenrod;}
            .result-text {margin-bottom: 0;}
    body
        .container
            .page-header
                h1 Pokemon Arena
            .row(class="custom-row" id="selectedPokemonRow")
                .col-md-3
                    select(name="selectedPokemon" id="selectedPokemon1" class="form-select" hx-get=`/pokemon/name` hx-trigger="load, change" hx-target="#pokemonInfo1")
                        for pokemon in pokemons
                            option #{pokemon.name}
                .col-md-2
                    button(name="startBattle" id="battleButton" class="btn-lg btn-danger" hx-post="/battle" hx-swap="afterbegin" hx-target="#battleList" hx-include="#selectedPokemonRow" type="button") Start Battle
                .col-md-3
                    select(name="selectedPokemon" id="selectedPokemon2" class="form-select" hx-get=`/pokemon/name` hx-trigger="load, change" hx-target="#pokemonInfo2")
                        for pokemon in pokemons
                            option #{pokemon.name}
                .col-md-4
                    h5 Battle history
            .row(class="custom-battle-Result-Row" id="battleResultRow")
                .col-md-3
                    div(id='winner1')
                .col-md-2
                    div(id='draw')
                .col-md-3
                    div(id='winner2')
                .col-md-4
            .row(class="custom-row")
                .col-md-3(class="display-items" id="pokemonInfo1")
                .col-md-2
                    h3 vs.
                .col-md-3(class="display-items" id="pokemonInfo2")
                .col-md-4
                    table(class="custom-table table")
                        tbody(id="battleList")
                            for battle in battles
                                if battle.battleResult === battle.pokemonId1
                                    tr
                                        td(style="background: lightgreen") #{battle.pokemonId1}
                                        td :
                                        td #{battle.pokemonId2}
                                else if battle.battleResult === 'draw'
                                    tr
                                        td(style="background: palegoldenrod") #{battle.pokemonId1}
                                        td :
                                        td(style="background: palegoldenrod") #{battle.pokemonId2}
                                else
                                    tr
                                        td #{battle.pokemonId1}
                                        td :
                                        td(style="background: lightgreen") #{battle.pokemonId2}
