.card(style='width: 18rem;')
    img.card-img-top(src=`${pokemonInfo.imgURL}` alt='Image')
    .card-body
        h5.card-title #{pokemonInfo.name}
        h9.card-title Weight: #{pokemonInfo.weight}
        br
        h9.card-title Height: #{pokemonInfo.height}
        br
        h9.card-title Order: #{pokemonInfo.order}
        table.table
            thead
                tr
                    th(scope='col') STAT
                    th(scope='col') POINTS
            tbody
                tr
                    th(scope='row') hp
                    td #{pokemonInfo.stats.hp}
                tr
                    th(scope='row') Attack
                    td #{pokemonInfo.stats.attack}
                tr
                    th(scope='row') Defense
                    td #{pokemonInfo.stats.defense}
                tr
                    th(scope='row') Special-Attack
                    td #{pokemonInfo.stats.specialAttack}
                tr
                    th(scope='row') Special-Defense
                    td #{pokemonInfo.stats.specialDefense}
                tr
                    th(scope='row') Speed
                    td #{pokemonInfo.stats.speed}
